@import "tailwindcss";

@theme {
  --color-zoho-blue: #136CFF;
  --color-zoho-dark: #0F3D93;
  --color-zoho-navy: #1A2C47;
  --color-zoho-light: #F5F9FF;

  --font-sans: Inter, system-ui, sans-serif;
}
